@model DateTime

@{
    ViewBag.Title = "Cierre de dia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="span5">
    @using (Html.BeginForm())
    {
        <fieldset class="data-fluid">
            <legend>La fecha actual es @Model.Date.ToShortDateString()</legend>
            @{var date = Model.AddDays(1);}
            <p class="notification">La fecha actual del sistema pasará a ser :</p>
            <div class="row-form">
                @Html.TextBoxFor(model => model.Date,new {Class = "datepicker", Value = Model.AddDays(1).Date.ToShortDateString() })
                @Html.ValidationMessageFor(model => model.Date)
            </div>
            <p class="notification">Esta seguro que desea cerrar el dia?</p>
            <div class="toolbar bottom tar">
                 @Html.ActionLink("Atras","Index","Home",null,new{Class= "btn"})
                <input class="btn btn-success" type="submit" value="Cerrar" />
            </div>
        </fieldset>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
