<nav class="navbar">
    <ul class="navigation">
        <li>
            <a href="/" class="button">
                <div class="icon">
                    <span class="ico-monitor"></span>
                </div>
                <div class="name">Inicio</div>
            </a>
        </li>
        <li>
            <a href="#" class="button yellow">
                <div class="arrow"></div>
                <div class="icon">
                    <span class="ico-cog-2"></span>
                </div>
                <div class="name">Cierre/Inicio</div>
            </a>
            <ul class="sub">
                <li>@Html.ActionLink("Cerrar Día", "CerrarDia", "Cierre",null,new {Class="ayellow"})</li>
                <li>@Html.ActionLink("Iniciar Zafra", "IniciarZafra", "Cierre",null,new {Class="ayellow"})</li>
                <li>@Html.ActionLink("Finalizar Zafra", "FinalizarZafra", "Cierre",null,new {Class="ayellow"})</li>
            </ul>
        </li>
        <li>
            <a href="/DiarioOperadorCombinadas" class="button green">
                <div class="icon">
                    <span class="ico-pen-2"></span>
                </div>
                <div class="name">Combinadas</div>
            </a>
        </li>
        <li>
            <a href="/DiarioEquiposZafra" class="button purple">
                <div class="icon">
                    <span class="ico-box"></span>
                </div>
                <div class="name">Equipos Zafra</div>
            </a>
        </li>
        <li>
            <a href="/Reportes" class="button red">
                <div class="icon">
                    <span class="ico-chart-4"></span>
                </div>
                <div class="name">Reportes</div>
            </a>
        </li>
        <li>
            <div class="user">
                @Html.Partial("_LoginPartial")
            </div>
            <div class="buttons">
                <div class="sbutton green navButton">
                    <a href="#"><span class="ico-align-justify"></span></a>
                </div>
                <div class="sbutton blue">
                    <a href="#"><span class="ico-cogs"></span></a>
                    <div class="popup">
                        <div class="arrow"></div>
                        <div class="row-fluid">
                            <div class="row-form">
                                @Html.ActionLink("Cerrar Sesión", "LogOff", "Account",null,new{Id="popupa"})
                                @Html.ActionLink("Cambiar contraseña", "ChangePassword", "Account",null,new{Id="popupa"})
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</nav>